
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.groupImage{
  position: absolute !important;
  top: 20px;
  left: 30px;
  width: 44px;
  height: 46px;
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
}
.companyName{
  position: absolute;
  top: 20px;
  left: 86px;
  width: 255px;
  height: 50px;
  text-align: left;
  font: normal normal bolder 39px/50px Futura PT;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  }

.hrcLogo{
  position: absolute;
  top: 22px;
  left: 860px;
  width: 235px;
  height: 50px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
.invoicelist{
  position: absolute;
  top: 100px;
  left: 30px;
  width: 141px;
  height: 31px;
  text-align: left;
  font: normal normal normal 28px/32px Ubuntu;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.grid{
  position: absolute;
  top: 161px;
  left: 30px;
  width: 1860px;
  height: 739px;
  background: #273D49CC 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}
.predictButton{
  position: absolute !important;
  top: 30px;
  left: 30px;
  width: 106px;
  height: 45px;
  background: #14AFF1 0% 0% no-repeat padding-box !important;
  border-radius: 10px;
  opacity: 1;
}
.predict{
  position: static;
  top: 41px;
  left: 50px;
  width: 65px;
  height: 23px;
  text-align: left;
  text-transform: none;
  font: normal normal normal 20px/24px Ubuntu;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.viewCButton{
  position: absolute !important;
  top: 30px;
  left: 156px;
  width: 237px;
  height: 45px;
  border: 1px solid #14AFF1 !important;
  border-radius: 10px;
  opacity: 1;
}
.viewC{
  position: static;
  top: 41px;
  left: 174px;
  width: 199px;
  height: 23px;
  text-align: left;
  text-transform: none;
  font: normal normal normal 20px/24px Ubuntu;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.addButton{
  position: absolute !important;
  top: 30px;
  left: 1106px;
  width: 99px;
  height: 45px;
  border: 1px solid #14AFF1 !important;
  border-radius: 10px;
  opacity: 1;
}
.add{
  position: absolute !important;
  top: 11px;
  left: 42px;
  width: 37px;
  height: 23px;
  text-align: left;
  text-transform: none;
  font: normal normal normal 20px/24px Ubuntu;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.addPlus{
  position: absolute !important;
  top: 16px;
  left: 18px;
  width: 14px;
  height: 14px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
.editButton{
  position: absolute !important;
  top: 30px;
  left: 1225px;
  width: 99px;
  height: 45px;
  border: 1px solid #14AFF1 !important;
  border-radius: 10px;
  opacity: 1;
}
.edit{
  position: absolute !important;
  top: 11px;
  left: 46px;
  width: 36px;
  height: 23px;
  text-align: left;
  text-transform: none;
  font: normal normal normal 20px/24px Ubuntu;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.editPen{
  position: absolute !important;
  top: 15px;
  left: 20px;
  width: 16px;
  height: 16px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
.deleteButton{
  position: absolute !important;
  top: 30px;
  left: 1347px;
  width: 123px;
  height: 45px;
  border: 1px solid #14AFF1 !important;
  border-radius: 10px;
  opacity: 1;
}

.delete{
  position: absolute !important;
  top: 11px;
  left: 42px;
  width: 61px;
  height: 23px;
  text-align: left;
  text-transform: none;
  font: normal normal normal 20px/24px Ubuntu;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.deleteSub{
  position: absolute !important;
  top: 22px;
  left: 18px;
  width: 14px;
  height: 2px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.closeAddModal{
    height: 24px;
    width: 24px;
    left:420px;
    background: transparent  0% 0% no-repeat padding-box;
    opacity: 1;
}

.deleteModalMessage{
  width: 531px;
height: 23px;
text-align: left;
font: normal normal normal 20px/24px Ubuntu;
letter-spacing: 0px;
color: #C0C6CA;
}

.pd{
  width: 531px;
height: 23px;
text-align: left;
font: normal normal normal 20px/24px Ubuntu;
letter-spacing: 0px;
color: #FF5E5E;
}
.textField_label{
  color:#FFFFFF !important;
}
table{
  width: 50vw;
  height:50vh;
  font-size: 1.25rem;
  margin-top: 25vh;
  /* margin-left: 25vw; */
  border-spacing: 0.25vh 0.25vw;
  background-color: #273D49CC !important;
  
}
tr{
  border: #273D49CC !important;
}
th{
  color:  #FFFFFF !important;
  background-color:#2D3447 !important;
  text-align: left;
  padding: 0.25vw;
  border-bottom-color: #273D49CC !important;
}
tr:nth-child(odd){
  background-color: #2D3447 !important;

}
tr:nth-child(even){
  background-color: #283A46 !important;
}
td:nth-child(1){
  color: #a25268;
}
td{
  color:#FFFFFF !important;
  padding: 0.25vw;
}